body{background:#f2f2f2}.slideshow{width:100%;overflow:hidden;max-width:450px;margin:0 auto;position:relative;height:350px;margin-bottom:14px;border:5px solid #ccc;border-radius:10px}ul{padding:0;margin:0;overflow:hidden;position:absolute;left:0;top:0}ul li{padding:0;margin:0;display:block;float:left;position:relative}ul li img{width:100%;height:auto;display:block}.btns{margin:0 auto;max-width:200px}.btns button{border-radius:8px;background:white;border:1px solid #e6e6e6;outline:none}.btns button.left{float:left}.btns button.right{float:right}

/*# sourceMappingURL=styles.css.map */