body {
  background: darken(white, 5%);
}

.slideshow {
  width: 100%;
  overflow: hidden;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  height: 350px;
  margin-bottom: 14px;
  border: 5px solid lighten(black, 80%);
  border-radius: 10px;
}
ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    position: relative;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.btns {
  margin: 0 auto;
  max-width: 200px;

button {
    border-radius: 8px;
    background: white;
    border: 1px solid darken(white, 10%);
    outline: none;
}

  button.left {
    float: left;
  }
  button.right {
    float: right;
  }
}
